//
   Created by Kamaron on 5/27/2015.

extends ../template

block content
   p foobar

block sidebar
   .list-group
      a.list-group-item(href="/") Main Page
   hr
   b Competition Links
   .list-group
   b Problems
   .list-group