//
   Created by Kamaron on 5/27/2015.

extends ../template

block content
   p foobar

block sidebar
   .list-group
      a.list-group-item(href="/") Main Page
   hr
   b Competition Links
   .list-group
      .list-group-item
         a(href="/competition/" + comp_data.id + "/scoreboard") Scoreboard
   b Problems
   .list-group
      each problem in problemList
         .list-group-item(class=((user_data.is_admin && !problem.isValid) ? "list-group-item-danger" : undefined))
            a(href="/competition/" + comp_data.id + "/problem/" + problem.id)= problem.name
            ul
               li
                  a(href="/competition/" + comp_data.id + "/problem/" + problem.id + "/submit") Submit Solution
               li
                  a(href="/competition/" + comp_data.id + "/problem/" + problem.id + "/submissions") View Submissions
               if (user_data['is_admin'])
                  li
                     a(href="/competition/" + comp_data.id + "/problem/" + problem.id + "/test-cases") Add/Modify/Remove Test Case
                  li
                     a(href="/competition/" + comp_data.id + "/problem/" + problem.id + "/sample-solutions") Add/Remove Sample Solution
                  li
                     a(href="/competition/" + comp_data.id + "/problem/" + problem.id + "/validate") Validate Problem