//
   Created by kamaron on 9/1/15.

extends ../competition/index

block content
   table.table.table-hover
      tr
         th SampleID
         each testCase in [1, 2, 3, 4, 5]
            th= 'Test ' + testCase
      // TODO KAM: Finish this out