//
   Created by Kamaron on 5/30/2015.

extends ../template

block content
   p= "Welcome to the admin system. TODO KIP: You should fill in more here"
   p Actually, what you SHOULD do is you should completely re-vamp the sidebar...
   p Maybe make it real pretty, yeah?