//
   Created by Kamaron on 8/19/2015.

extends ./index

block content
   p Success! The new problem has been created.
   p TODO KAM: Add in the link to edit the new problem
   p TODO KAM: Add in a link to add a new problem