//
   Created by Kamaron on 5/30/2015.

extends ../index

block content
   // TODO FE: This is just wrong, we need a prettier page for the default template.
      Something that also shows off what data members you can use, and maybe some other Jade features
   p= "This is where the description for competition " + comp_data.name + " goes"