extends template

block content
  h3= message
  h4= error.status
  
  if competition != undefined
    a(href="/register-team?id=" + competition) Maybe you should register
  else
    pre #{error.stack}
