//
   Created by kamaron on 3/31/15.

head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="/UsuLogo.png")
    link(rel="stylesheet", href="/bootstrap-3.3.4-dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/jquery-ui-1.11.4/jquery-ui.min.css")
    if include_stylesheets
        - for (var i = 0; i < include_stylesheets.length; i++) {
            link(rel="stylesheet", href=include_stylesheets[i])
        - }