//
   Created by kamaron on 3/31/15.

doctype html
html(ng-app="generic-page-app")
    include generic_head
    body
        // Sidebar...
        #container.container-fluid
            #header.row
                block top_header
                    .col-md-10
                        h1#title.text-center= title
                        h2#subtitle.text-center= subtitle
                    .col-md-2
                        if user_data === undefined
                            // Change this?
                            form(action="/api/user/login", method="post", role="form")
                                .form-group
                                    input(type="hidden", name="redirect", value=(redirect_url || '/'))
                                    input.form-control(type="text", name="username", placeholder="Username")
                                    input.form-control(type="password", name="password")
                                    input.btn.pull-left(type="submit", name="login", value="Login")
                                    input#reg_btn.btn.pull-left(type="submit", name="register", value="Register")
                        else if user_data.is_admin === 1
                            form(action="/api/user/logout", method="post", role="form")
                                p Hello, sir&nbsp;
                                    b= user_data.user_name
                                .form-group
                                    input(type="hidden", name="redirect", value=(redirect_url || '/'))
                                    input.btn(type="submit", value="Logout", name="logout")
                        else
                            form(acction="/api/user/logout", method="post", role="form")
                                p Hello&nbsp;
                                    b= user_data.user_name
                                .form-group
                                    input(type="hidden", name="redirect", value=(redirect_url || '/'))
                                    input.btn(type="submit" value="Logout")
            .row
                #sidebar.col-md-2
                    block sidebar
                        if user_data === undefined
                            ul
                                li
                                    a(href="/") Home
                                li
                                    a(href="/about") About
                                li
                                    a(href="#", onclick="$('#reg_btn').click();") Register
                            hr
                            b Previous Public Competitions
                            ul(ng-controller="previous-competitions-controller")
                                li(ng-repeat="competition in competitions")
                                    a(href="/competition/{{competition.id}}") {{competition.name}}
                        else
                            ul
                                li
                                    a(href="/") Home
                                li
                                    a(href="/about") About
                            hr
                            if user_data.is_admin === 1
                                b Admin Functions
                                ul
                                    li
                                        a(href="/admin/new_comp") Create New Competition
                                    li
                                        a(href="/admin/view_users") View User Data
                                    li
                                        a(href="/admin/add_comparison_program") Add Submission Comparison Method
                                hr
                                b Upcoming Competitions
                                ul(ng-controller="upcoming-competitions-controller")
                                    li(ng-repeat="competition in competitions")
                                        a(href="/competition/{{competition.id}}") {{competition.name}}
                                hr
                            b Ongoing Competitions
                            ul(ng-controller="current-competitions-controller")
                                li(ng-repeat="competition in competitions")
                                    a(href="/competition/{{competition.id}}") {{competition.name}}
                            hr
                            b Previous Competitions
                            ul(ng-controller="previous-competitions-controller")
                                li(ng-repeat="competition in competitions")
                                    a(href="/competition/{{competition.id}}") {{competition.name}}
                #content.col-md-10
                    block content
                        h1 There doesn't seem to be any content written for this page... Sorry about that.
        include generic_scripts