//
   Created by kamaron on 4/2/15.

extends generic_page

block content
   if comp_data === undefined
      h1= 'Register for a competition'
      p.
         All registrations must be for a competition - on the competition registration page,
         you will be allowed to create a team, as well as create users to add to that team
         and / or link existing site users into that team.
      hr
      b Upcoming Competitions
         ul(ng-controller="upcoming-competitions-controller")
            li(ng-repeat="competition in competitions")
               a(href="/register/{{competition.id}}") {{competition.name}}
      hr
      b Ongoing Competitions
         ul(ng-controller="current-competitions-controller")
            li(ng-repeat="competition in competitions")
               a(href="/register/{{competition.id}}") {{competition.name}}
   else
      h1= 'Register for competition ' + comp_data.name
      p= JSON.stringify(comp_data)
      form#new_team_form.form-horizontal(method="post", action="/register/" + comp_data.id + "/submit", ng-controller="registration-section-controller")
         fieldset
            legend Basic Information
            // Team Name
            .form-group
               label.col-md-4.control-label(for="team_name") Team Name
               .col-md-4
                  input#team_name.form-control.input-md(name="team_name", type="text", placeholder="team_awesome", required="", value="{{team.name}}")
               span#team_name_err.help-block {{ team.name_err }}
            // Team Tagline
            .form-group
            label.col-md-4.control-label(for="team_tagline") Team Tagline
            .col-md-4
               input#team_tagline.form-control.input-md(name="team_tagline", type="text", placeholder="team_awesome", required="", value="{{team.tagline}}")
            span#team_tagline_err.help-block {{ team.tagline_err }}
            // Users
            - for (var i = 0; i < comp_data.max_team_size; i++) {
               // User here when ng-route is done...
            - }