//
   Created by kamaron on 4/2/15.

extends generic_page

block content
   if comp_data === undefined
      h1= 'Register for a competition'
      p.
         All registrations must be for a competition - on the competition registration page,
         you will be allowed to create a team, as well as create users to add to that team
         and / or link existing site users into that team.
      hr
      b Upcoming Competitions
         ul(ng-controller="upcoming-competitions-controller")
            li(ng-repeat="competition in competitions")
               a(href="/register/{{competition.id}}") {{competition.name}}
      hr
      b Ongoing Competitions
         ul(ng-controller="current-competitions-controller")
            li(ng-repeat="competition in competitions")
               a(href="/register/{{competition.id}}") {{competition.name}}
   else
      h1= 'Register for competition ' + comp_data.name
      form#new_team_form.form-horizontal(ng-submit="validate_form()", ng-controller="registration-section-controller")
         fieldset
            legend Basic Information
            input#comp_data_id(type="hidden", value=comp_data.id)
            input#comp_data_max_team_size(type="hidden", value=comp_data.max_team_size)
            // Team Name
            .form-group
               label.col-md-4.control-label(for="team_name") Team Name
               .col-md-4
                  input#team_name.form-control.input-md(name="team_name", type="text", placeholder="team_awesome", required="", ng-model="team_name")
               span.col-md-4#team_name_err.help-block {{ team_name_err }}
            // Team Tagline
            .form-group
            label.col-md-4.control-label(for="team_tagline") Team Tagline
            .col-md-4
               input#team_tagline.form-control.input-md(name="team_tagline", type="text", placeholder="team_awesome", required="", ng-model="team_tagline")
            span.col-md-4#team_tagline_err.help-block {{ team_tagline_err }}
         fieldset
            legend Team Members
            // Users
            div(ng-repeat="field in user_data")
               .form-group
                  label.col-md-4.control-label(for="usertype_{{$index + 1}}") User {{$index + 1}}
                  div.col-md-4(name="usertype_{{$index + 1}}", id="usertype_{{$index + 1}}")
                     label.radio-inline(for="usertype_new_{{$index + 1}}")
                        input(type="radio", name="usertype_{{$index + 1}}", value="new", ng-model="field.type")
                        |Create New User
                     label.radio-inline(for="usertype_existing_{{$index + 1}}")
                        input(type="radio", name="usertype_{{$index + 1}}", value="existing", ng-model="field.type")
                        |Use Existing
                     label.radio-inline(for="usertype_blank_{{$index + 1}}")
                        input(type="radio", name="usertype_{{$index + 1}}", value="blank", ng-model="field.type")
                        |Leave Blank
                  span.col-md-4.help-block {{ field.type_err }}
               div(id="userdata_{{$index + 1}}", ng-switch="field.type")
                  div(ng-switch-when="new")
                     .form-group
                        label.col-md-4.control-label(for="username_{{$index + 1}}") Username
                        .col-md-4
                           input.form-control.input-md(type="text", name="username_{{$index + 1}}", placeholder="sessamekesh", required="required", ng-model="field.data.username")
                        span.col-md-4.help-block {{ field.data.username_err }}
                     .form-group
                        label.col-md-4.control-label(for="name_{{$index + 1}}") Name
                        .col-md-4
                           input.form-control.input-md.form-inline(type="text", name="name_{{$index + 1}}", placeholder="Alan Turing", required="required", ng-model="field.data.name")
                        span.col-md-4.help-block {{ field.data.name_err }}
                     .form-group
                        label.col-md-4.control-label(for="pass_{{$index + 1}}") Password
                        .col-md-4
                           input.form-control.input-md.form-inline(type="password", name="pass_{{$index + 1}}", required="required", ng-model="field.data.pass")
                        span.col-md-4.help-block {{ field.data.pass_err }}
                     .form-group
                        label.col-md-4.control-label(for="conf_{{$index + 1}}") Confirm Password
                        .col-md-4
                           input.form-control.input-md.form-inline(type="password", name="pass_{{$index + 1}}", required="required", ng-model="field.data.confirm_pass")
                        span.col-md-4.help-block {{ field.data.confirm_pass_err }}
                     .form-group
                        label.col-md-4.control-label(for="email_{{$index + 1}}") Email Address
                        .col-md-4
                           input.form-control.input-md.form-inline(type="text", name="email_{{$index + 1}}", placeholder="john.smith@aggiemail.usu.edu", required="required", ng-model="field.data.email")
                        span.col-md-4.help-block {{ field.data.email_err }}
                     .form-group
                        label.col-md-4.control-label(for="usertype_{{$index + 1}}") User Type
                        .col-md-4
                           select.form-control.input-md.form-inline(name="usertype_{{$index + 1}}", ng-model="field.data.selected_user_type", ng-options="type.id as (type.name) for type in types", required="required")
                        span.col-md-4.help-block {{ field.data.selected_user_type_err }}
                  div(ng-switch-when="existing")
                     .form-group
                        label.col-md-4.control-label(for="username_{{$index + 1}}") Username
                        .col-md-4
                           input.form-control.input-md.form-inline(type="text", name="username_{{$index + 1}}", placeholder="sessamekesh", ng-model="field.data.username")
                        span.col-md-4.help-block {{ field.data.username_err }}
                     .form-group
                        label.col-md-4.control-label(for="pass_{{$index + 1}}") Password
                        .col-md-4
                           input.form-control.input-md.form-inline(type="password", name="pass_{{$index + 1}}", required="required", ng-model="field.data.pass")
                        span.col-md-4.help-block {{ field.data.pass_err }}
                  div(ng-switch-default)
                     // Leave this blank, since the user will be blank.
               hr
            .form-group
               input.btn.btn-primary.col-md-offset-4#submit(type="submit", value="Submit!")