div#container {
	background-color: #FFFAF0;
	max-width: 1200px;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div#header {
	background-color: #002366;
	border-radius: 15px;
	min-height: 150px;
	padding: 5px;
}

div#words_and_whatnot {
	text-align: center;
	width: 68%;
	min-width: 400px;
	float: left;
}

h1#title {
	color: white;
	text-align: center;
}

h2#subtitle {
	color: #FFFAF0;
	text-align: center;
}

div#login_bit {
	width: 30%;
	min-width: 300px;
	text-align: right;
	margin: 5px;
	float: right;
}

div#login_bit input {
	margin: 3px;
}

div#sidebar {
	margin-top: auto;
	clear: both;
	float: left;
	margin-right: 10px;
	background-color: #FFEFFE;
	min-height: 800px;
	width: 200px;
}

div#content {
	margin-top: auto;
	margin-left: auto;
	padding: 5px;
	min-width: 600px;
	max-width: 900px;
}

div.problem_description {
	text-align: center;
	width: 100%;
	min-height: 1100px;
}

div.problem_description object {
	width: 100%;
	min-height: 1100px;
}