//
   Created by Kamaron on 5/22/2015.

extends ../template

block content
   h1 Success!
   p Please login as a member of your team, and when the competition has started, click on the link to begin participating