//
   Created by Kamaron on 5/30/2015.

extends ../../template

block content
   // TODO FE: This is just wrong, we need a prettier page for the default template.
      Something that also shows off what data members you can use, and maybe some other Jade features
   p= "This is where you put the rules for competition " + comp_data.name + ", using the CompetitionRules model data"